on:
  push:
    tags: [v*, V*]

jobs:
  build:
    name: Build and release the artifact
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:  
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build artifact
        run:  echo "Hello world on $(date -I) for ${{ github.ref_name }}" > product.txt
      # - name: Create tag
      #   uses: actions/github-script@v8
      #   with:
      #     script: |
      #       github.rest.git.createRef({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         ref: 'refs/tags/pukkels',
      #         sha: context.sha
      #       })
      - name: Create Release
        run:  |
          gh release create ${{ github.ref_name }} --F release_notes.md -t "Release ${{ github.ref_name }}" --latest=false
          gh release upload ${{ github.ref_name }} --clobber product.txt
        env: 
          GH_TOKEN: ${{ github.token }}
