on:
  push:
    tags: [v*, V*]

jobs:
  build:
    name: Build and release the artifact
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:  
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build artifact
        run: |
          mkdir -p artifacts
          echo "Hello world on $(date -I) for ${{ github.ref_name }}" > artifacts/product.txt
      - name: Create Release
        run:  |
          release=${{ github.ref_name }}
          if [[ "$rel" =~ ^.+rc[0-9]+$ ]]; then 
            PRERELEASE="--prerelease"
            LATEST="--latest"
          else 
            PRERELEASE="" 
            LATEST="--latest"
          fi
          cat release_notes_template.md | sed -e's/RELEASE/${{ github.ref_name }}/g' > release_notes.md
          gh release create ${{ github.ref_name }} --draft ${PRERELEASE} -F release_notes.md -t "Release ${{ github.ref_name }}" ${LATEST}
          gh release upload ${{ github.ref_name }} --clobber $(find artifacts -type f)
          gh release edit ${{ github.ref_name }} --draft=false
        env: 
          GH_TOKEN: ${{ github.token }}
